@import url(https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;

  font-size: 30px;
}

$theme-color: #ffffff;
$theme-color-2: #dfdfdf;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
	--font-family-mono: Menlo, Monaco, Consolas, "Droid Sans Mono", monospace;
}

#canvas {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}


// Panel

#panel-wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 75px;
	height: auto;
	padding-top: 20px;
	margin-left: 5px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.panel-checkbox{
	display: none;
}
.panel-label{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;

	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;

	color: $theme-color-2;
	border: 1px solid $theme-color-2;
	border-radius: 3px;
	backdrop-filter: blur(30px);
}
.panel-label:hover{
	color: $theme-color;
	border: 1px solid $theme-color;
}
.panel-checkbox:checked + .panel-label{
	color: $theme-color;
	border: 1px solid $theme-color;
}

// View

#view-wrapper {
	position: absolute;
	top: 0;
	left: 80px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;

	border: 1px solid $theme-color;
	border-radius: 2px;
	backdrop-filter: blur(30px);

	color: $theme-color;
}
.view-dialog{
	padding: 5px;
	margin-bottom: 5px;
	
	//border: 1px solid $theme-color;
	//border-radius: 3px;
	//backdrop-filter: blur(12px);
}
.view-dialog-hidden {
	display: none;
}
.view-dialog-display{
	display: block;
}


// Accordion

.accordion-input {
	display: none;
}
.accordion-label, .accordion-content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.accordion-label {
	display: block;
	margin-bottom: 5px;

	user-select: none;
	color: $theme-color;
	font-size: medium;
	font-weight: normal;
	text-align: left;
}
.accordion-label::after, .accordion-label::before {
	content: "";
	position: absolute;
	right: 5%;
	top: 20%;
	width: 2px;
	height: 0.75em;
	transition: all 0.3s;
	background-color: $theme-color-2;
}
.accordion-label::after {
	transform: rotate(90deg);
}
.accordion-content {
	max-height: 0;
	overflow: hidden;
	color: $theme-color;
}
.accordion-input:checked + .accordion-label + .accordion-content {
	max-height: 500px;
	transition: all 1.5s;
}
.accordion-input:checked + .accordion-label::before {
	transform: rotate(90deg) !important;
}
.inner-accordion-label{
	text-align: left;
	font-size: smaller;
	font-weight: normal;
	color: $theme-color;
}
.inner-accordion-content{
	padding-left: 5px;
	border-left: 1px solid $theme-color-2;
}

// widget

.widget-row{
	height: 20px;
	font-size:smaller;
	font-weight: 400;
	margin: 2px;
	display: flex;
    flex-wrap: wrap;
}
.widget-label{
	width: calc(100% / 2);

	user-select: none;
}
.widget-value{
	width: calc(100% / 2);
}

// Each widgets element

.select-element{
	//appearance: none;
	border: 1px solid $theme-color-2;
    border-radius: 3px;
	text-align-last: center;

	color: $theme-color-2;
	background-color: transparent; 
}
.select-element:hover{
	border: 1px solid $theme-color-2;
	color: $theme-color;
}
.select-element:focus{
	outline: 0px;
}
.select-element > option{
	color: $theme-color-2;
}

.range-element{
	appearance: none;
	display: inline-block;
	width: 60%;
	height: 10px;
	accent-color: $theme-color-2;
	background: transparent;
	border: 1px solid $theme-color-2;
	border-radius: 3px;
}
.range-element::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 3px;
	height: 10px;
	background: $theme-color-2;
	box-shadow: none;
}
.range-element::-moz-range-thumb {
	border: none;
	border-radius: 0;
	width: 3px;
	height: 1px;
	background: $theme-color-2;
	box-shadow: none;
}
.range-text-element{
	display: inline-block;
	width: 30%;
	text-align: center;
}


.color-picker-element{
	border: 0px;
	border-radius: 3px;
	outline: 0px;
	height: inherit;
	background-color: transparent;
}
.color-picker-element::-webkit-color-swatch{
	border: none;
}
.color-picker-element::-webkit-color-swatch-wrapper{
	padding: 0px;
	border: 1px solid $theme-color-2;
}
